<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Male_Fashion Template">
    <meta name="keywords" content="Male_Fashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zay Fashion</title>
    <link rel="apple-touch-icon" href="assets2/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets2/img/favicon.ico">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="assets2/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets2/css/templatemo.css">
    <link rel="stylesheet" href="assets2/css/custom.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />


    <style>
        .cards-container::-webkit-scrollbar {
            display: none;
            /* Hide the scrollbar in WebKit browsers */
        }

        .sticky-element {
            position: -webkit-sticky;
            /* For Safari */
            position: sticky;
            bottom: 0;
            /* Stick it to the bottom */

            padding: 10px;


        }

        @media screen and (min-width: 480px) {

            .sticky-element {
                margin-left: 10rem;
            }
        }
    </style>


</head>

<body>
    <%- include('../partials/nav.ejs') -%>
    <!-- Header Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__text">
                        <h4>Check Out</h4>
                        <div class="breadcrumb__links">
                            <a href="/">Home</a>
                            <a href="/shop">Shop</a>
                            <a href="/cart">Shopping Cart</a>
                            <span>Check Out</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Add address</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="checkout__form">
                        <form action="/add-Address" method="post">
                            <div class="row">
                                <div class="col-lg-12 col-md-">

                                    <h6 class="checkout__title">Billing Details</h6>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Fist Name<span>*</span></p>
                                                <input type="text" id="firstname" name="fname">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Last Name<span>*</span></p>
                                                <input type="text" id="lastName" name="lname">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="checkout__input">
                                        <p>Country<span>*</span></p>
                                        <input type="text" name="country" value="India">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Address<span>*</span></p>
                                        <input type="text" id="address" name="address" placeholder="Street Address"
                                            class="checkout__input__add">

                                    </div>
                                    <div class="checkout__input">
                                        <p>Town/City<span>*</span></p>
                                        <input type="text" id="city" name="city">
                                    </div>
                                    <div class="checkout__input">
                                        <p>State<span>*</span></p>
                                        <input type="text" id="state" name="state">
                                    </div>
                                    <div class="checkout__input">
                                        <p>Postcode / ZIP<span>*</span></p>
                                        <input type="text" id="pin" name="pin">
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Phone<span>*</span></p>
                                                <input type="text" id="Phone" name="phone">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="checkout__input">
                                                <p>Email<span>*</span></p>
                                                <input type="text" id="email" name="email">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div style="align-self: flex-end;">
                                    <button type="submit" class="btn btn-dark">add</button>
                                </div>

                            </div>
                        </form>
                    </div>


                </div>

            </div>
        </div>
    </div>

    <!-- Checkout Section Begin -->
    <section class="checkout spad">
        <div class="container">
            <div class="checkout__form">
                <div class="row justify-content-end">
                    <div class="col-lg-8 col-md-6">
                        <div class="accordion" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button "
                                        style="background-color: #68bb7d !important; color: #f3f2ee; border-color: none !important;"
                                        type="button" data-bs-toggle="collapse"
                                        data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                                        aria-controls="panelsStayOpen-collapseOne">
                                        SELECT ADDRESS
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
                                    <div class="accordion-body" style="background-color: #f3f2ee;">

                                        <div class="cards-container"
                                            style="display: flex; flex-wrap: nowrap;  gap: 2rem; overflow: scroll; ">
                                            <%if(address) {%>
                                                <%address.address.forEach((el, i)=> {%>
                                                    <%console.log(el)%>

                                                        <div class="card text-center mb-3"
                                                            style="max-width: 18rem; margin-left: 2rem;  flex: 1 0 18rem; ">

                                                            <div class="card-body">
                                                                <h5 class="card-title"
                                                                    style="color: #111111; font-weight: 800;">Address
                                                                    <%= i + 1%>
                                                                </h5>
                                                                <address>
                                                                    <p style="text-align: left; margin: 0;">

                                                                        <span style="font-weight: bold;">Name:</span>
                                                                        <%= el.fullName %><br>
                                                                            <span
                                                                                style="font-weight: bold;">Country:</span>
                                                                            <%= el.country %><br>
                                                                                <span style="font-weight: bold;">House
                                                                                    Name:</span>
                                                                                <%= el.address %><br>
                                                                                    <span
                                                                                        style="font-weight: bold;">State:</span>
                                                                                    <%= el.state %><br>
                                                                                        <span
                                                                                            style="font-weight: bold;">City:</span>
                                                                                        <%= el.city %><br>
                                                                                            <span
                                                                                                style="font-weight: bold;">Pincode:</span>
                                                                                            <%= el.pincode %><br>
                                                                                                <span
                                                                                                    style="font-weight: bold;">Phone:</span>
                                                                                                <%= el.phone %><br>
                                                                                                    <span
                                                                                                        style="font-weight: bold;">Email:</span>
                                                                                                    <%= el.email %><br>
                                                                    </p>
                                                                </address>

                                                                <div class="" role="group"
                                                                    aria-label="Basic radio toggle button group">
                                                                    <input type="radio" class="btn-check"
                                                                        value="<%= i %>" name="address"
                                                                        id="btnradio<%= i + 1%>" autocomplete="off">
                                                                    <label class="btn btn-outline-dark px-4"
                                                                        for="btnradio<%= i + 1%>">Select</label>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <%})%>

                                                            <%} else {%>
                                                                <div class="d-flex flex-column align-items-center">
                                                                    <img src="\img\noAddress..jpeg"
                                                                        alt="No address found"
                                                                        style="max-width: 150px; margin-bottom: 10px;">
                                                                    <p
                                                                        style="font-size: 18px; font-weight: bold; color: #333; margin-bottom: 2px;">
                                                                        No address found</p>
                                                                    <span
                                                                        style="color: #555; margin-bottom: 2rem;">Please
                                                                        add new address</span>
                                                                </div>


                                                                <%}%>



                                        </div>
                                        <div class="d-grid gap-2">
                                            <button class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal"
                                                data-bs-whatever="@mdo"
                                                style="background-color: #68bb7d; color: #f3f2ee;" type="button">ADD NEW
                                                ADDRESS</button>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        style="background-color: #68bb7d; color: #f3f2ee;"
                                        data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
                                        aria-controls="panelsStayOpen-collapseTwo">
                                        ORDER SUMMARY
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
                                    <div class="accordion-body" style="background-color: #f3f2ee;">
                                     <div class="row">
                                        <div class="col-12">
                                            <div class="shopping__cart__table" id="Reload">
                                                <table>
                                                    <tbody>
                        
                                                        
                                                           <% let totalAmount = 0%>
                                                           <% let total = 0%>
                                                           <% let items = 0%>
                                                        <%products.forEach((item, i) => {%>
                        
                                                           
                                                        <tr>
                                                            <td class="product__cart__item">
                                                                <div class="product__cart__item__pic">
                        
                                                                    <img class="" style="width: 100px; height: 100px;" src="/img/productImage/sharp/<%= item.productId.variant[item.product].images[0] %>" alt="">
                                                                </div>
                                                                <div class="product__cart__item__text">
                                                                    <h6 style="font-size: 12px;"><%= item.productId.name %></h6>
                                                                    <h5 style="font-size: 15px;">₹<%= item.price%></h5>
                                                                     
                                                                    <% const match = [['S', 'Small'], ['M', 'Medium'], ['L', "Large"], ['XL', 'Exel'], ['XXL', 'Double exel']]%>
                                                                    <%const size = match.find((size) => (size[0] === item.size)) %>
                                                                    <%console.log(size)%>
                                                                    <span>Size: <%= size[1]%></span>
                                                                </div>
                                                            </td>
                                                            <td class="cart__price">₹<%= item.totalPrice%></td>
                                                        </tr>
                        
                                                        <%})%>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-6">
                                                    <div class="continue__btn">
                                                        <a class="btn btn-outline-dark" href="/shop">Continue Shopping</a>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                     </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 col-md-6">
                      <!-- Compact coupon display -->
                    <!-- Coupon section -->
                    <div class="card mb-4">
                      <div class="card-body">
                          <h5 class="card-title mb-3">Available Coupons</h5>
                          <div class="coupon-list" style="max-height: 150px; overflow-y: auto;">
                              <% if (coupon && coupon.length > 0) { %>
                                  <% coupon.forEach(coup => { %>
                                      <div class="coupon-item d-flex justify-content-between align-items-center p-2 mb-2" 
                                           style="border: 1px solid #e0e0e0; border-radius: 5px; transition: all 0.3s ease;">
                                          <div>
                                              <strong><%= coup.name %></strong>
                                              <small class="d-block text-muted">ExpiresDate : <%= coup.expiresDate %></small>
                                              <small class="d-block text-muted"><%= coup.discountType === 'percentage' ? coup.discountAmount + '%' : '₹' + coup.discountAmount %> off</small>
                                          </div>
                                          <button class="btn btn-sm btn-outline-success copy-btn" data-coupon="<%= coup.couponCode %>">Copy</button>
                                      </div>
                                  <% }) %>
                              <% } else { %>
                                  <p class="text-muted">No coupons available at the moment.</p>
                              <% } %>
                          </div>
                          <div class="mt-3">
                              <input type="text" class="form-control" id="applyCoupon" placeholder="Enter coupon code">
                              <button type="button" class="btn btn-success w-100 mt-2" onclick="return applyCoupon();">Apply Coupon</button>
                          </div>
                      </div>
                  </div>

                    <!-- Order summary -->
                    <div class="card mb-4">
                      <div class="card-body">
                          <h5 class="card-title mb-3">Order Summary</h5>
                          <ul class="list-unstyled">
                              <li class="d-flex justify-content-between mb-2">
                                  <span>Price (<%= products.length %> <%= products.length > 1 ? "items" : "item" %>)</span>
                                  <span>₹<%= subtotal %></span>
                              </li>
                              <li class="d-flex justify-content-between mb-2">
                                  <span>Delivery Charges</span>
                                  <% if (subtotal > 1000) { %>
                                      <span class="text-success"><del class="text-muted">₹80</del> Free</span>
                                  <% } else { %>
                                      <span>₹<%= deliveryCharge %></span>
                                  <% } %>
                              </li>
                              <li class="d-flex justify-content-between mb-2">
                                  <span>Coupon Discount</span>
                                  <span class="text-danger" id="discountAmount">₹<%= discount %></span>
                              </li>
                              <li class="d-flex justify-content-between font-weight-bold mt-3 pt-3 border-top">
                                  <span>Amount Payable</span>
                                  <span id="discountedAmount">₹<%= finalAmount %></span>
                              </li>
                          </ul>
                      </div>
                  </div>
                    
                  <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title mb-3">Payment Method</h5>
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" id="cod" name="payment_method" class="custom-control-input" value="COD" checked>
                            <label class="custom-control-label" for="cod">Cash on Delivery</label>
                        </div>
                        <div class="custom-control custom-radio mb-2">
                            <input type="radio" id="wallet" name="payment_method" class="custom-control-input" value="wallet">
                            <label class="custom-control-label" for="wallet">Wallet</label>
                        </div>
                        <div class="custom-control custom-radio mb-3">
                            <input type="radio" id="razorpay" name="payment_method" class="custom-control-input" value="razorpay">
                            <label class="custom-control-label" for="razorpay">Razorpay</label>
                        </div>
                        <div class="alert alert-info">
                            Wallet Balance: ₹<%= walletBalance %>
                        </div>
                    </div>
                </div>
                    </div>
                    
                    <!-- Place order button -->
                    <div class="d-grid gap-2">
                      <button class="btn btn-success btn-lg" id="place-order" data-subtotal="<%= subtotal %>" onclick="placeOrder()">
                          PLACE ORDER
                      </button>
                  </div>
                </div>
                </form>
            </div>
        </div>
        <!-- <button type="button" onclick="placeOrder('<%= subtotal%>')" class="site-btn ">PLACE ORDER</button> -->
    </section>
    <!-- Checkout Section End -->

    <!-- Footer Section Begin -->
    <%- include('../layout/userTemplateFooter.ejs') -%>r>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.nice-select.min.js"></script>
    <script src="js/jquery.nicescroll.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/mixitup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</body>
</html>

<script>
    function applyCoupon() {
      const couponCode = document.getElementById('applyCoupon').value;
      if (couponCode) {
        const data = { couponCode: couponCode };
        $.ajax({
          type: "POST",
          url: "/check-coupon",
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: (response) => {
            if (response.success) {
              const subtotal = response.subtotal;
              const discount = response.discount;
  
              document.getElementById('discountedAmount').innerText = `₹${subtotal}`;
              document.getElementById('discountAmount').innerText = `₹${discount}`;
              document.getElementById('place-order').setAttribute('data-subtotal', subtotal);
              document.getElementById('place-order').setAttribute('data-couponApplied', '1');
              document.getElementById('place-order').setAttribute('data-couponCode', couponCode);
  
              Swal.fire({
                position: "center",
                icon: "success",
                title: "Coupon applied successfully!",
                showConfirmButton: false,
                timer: 1500
              });
            } else {
              fireSwal(response.message);
            }
          },
          error: (xhr, status, error) => {
            fireSwal("Failed to apply coupon. Please try again later.");
            console.error("Error applying coupon:", error);
          }
        });
      } else {
        console.log('Coupon not applied');
      }
    }
  
    function placeOrder() {
      try {
        const radioBtn = document.querySelector('input[name="address"]:checked');
        const index = radioBtn ? radioBtn.value : null;
        if (!index) {
          return Swal.fire({
            title: "Select address",
            text: "Please select address!",
            icon: "warning",
            showConfirmButton: false,
            timer: 1500
          });
        }
  
        const payment = document.querySelector('input[name="payment_method"]:checked');
        const payment_method = payment ? payment.value : null;
        if (!payment_method) {
          return Swal.fire({
            title: "Select payment method",
            text: "Please select payment method!",
            icon: "warning",
            showConfirmButton: false,
            timer: 1500
          });
        }
  
        const total = document.getElementById('place-order').getAttribute('data-subtotal');
        const isCouponApplied = document.getElementById('place-order').getAttribute('data-couponApplied');
        const couponCode = isCouponApplied ? document.getElementById('place-order').getAttribute('data-couponCode') : false;
  
        const data = {
          index: index,
          payment_method: payment_method,
          subtotal: total,
          isCoupon: couponCode
        };
  
        if(payment_method == 'COD' && total >= 1000) {
          return fireSwal('Amount exceeds the maximum limit of 1000. Choose another payment option');            
        };
  
        $.ajax({
          type: 'POST',
          url: '/place-order',
          data: JSON.stringify(data),
          contentType: 'application/json',
          success: (response) => {
            if (response.success) {
              if (payment_method === 'razorpay' && response.razorpayOrderId) {
                const options = {
                  key: "rzp_test_03lybiPDaK7CJ0",
                  amount: response.amount * 100, // Amount in paisa
                  currency: 'INR',
                  name: 'Zay e-commerce',
                  description: 'Order Payment',
                  order_id: response.razorpayOrderId,
                  handler: function (paymentResponse) {
                    handlePaymentSuccess(paymentResponse);
                  },
                  modal: {
                    ondismiss: function() {
                      handlePaymentFailure({ order_id: response.razorpayOrderId, error: { reason: "User closed payment window" } });
                    }
                  },
                  prefill: {
                    name: 'Customer Name',
                    email: 'customer@example.com',
                    contact: '9999999999',
                  },
                  notes: {
                    address: 'Customer Address',
                  },
                  theme: {
                    color: '#F37254',
                  },
                };
                const rzp1 = new Razorpay(options);
                rzp1.open();
              } else {
                location.href = '/order-success';
              }
            } else {
              fireSwal(response.message || "Failed to place order. Please try again later.");
            }
          },
          error: (xhr, status, error) => {
            fireSwal("Failed to place order. Please try again later.");
            console.error("Error placing order:", error);
          }
        });
      } catch (error) {
        console.log(error);
      }
    }
  
    // Function to handle payment success
    function handlePaymentSuccess(response) {
      const paymentData = {
        payment_id: response.razorpay_payment_id,
        order_id: response.razorpay_order_id,
        signature: response.razorpay_signature,
      };
  
      $.ajax({
        type: 'POST',
        url: '/verify-payment',
        data: JSON.stringify(paymentData),
        contentType: 'application/json',
        success: (response) => {
          if (response.success) {
            location.href = '/order-success';
          } else {
            fireSwal(response.message || "Payment verification failed. Please contact support.");
          }
        },
        error: (xhr, status, error) => {
          fireSwal("Failed to verify payment. Please try again later.");
          console.error("Error verifying payment:", error);
        }
      });
    }
  
    // Function to handle payment failure
    function handlePaymentFailure(response) {
  
      $.ajax({
        type: 'POST',
        url: '/verify-payment',
        data: JSON.stringify({ order_id: response.order_id, reason: response.error.reason , status:"failed"}),
        contentType: 'application/json',
        success: (response) => {
          if (!response.success) {
            alert('Payment verification failed. Please contact support.')
            location.href = '/my-order';
          }
        },
        error: (xhr, status, error) => {
          fireSwal("Failed to verify payment. Please try again later.");
          console.error("Error verifying payment:", error);
        }
      });
    }
  
    // Function to display error message
    function fireSwal(text) {
      Swal.fire({
        position: "center",
        icon: "error",
        title: text,
        showConfirmButton: false,
        timer: 1500
      });
    }
  
    // Event listener to show Razorpay button on selecting Razorpay payment method
    document.querySelectorAll('input[name="payment_method"]').forEach(input => {
      input.addEventListener('change', function (e) {
        const paymentMethod = e.target.value;
        const razorpayButton = document.getElementById('razorpayButton');
  
        if (paymentMethod === 'razorpay') {
          razorpayButton.style.display = 'block'; // Show the Razorpay button
        } else {
          razorpayButton.style.display = 'none'; // Hide the Razorpay button for other payment methods
        }
      });
    });
  
    // Event listener for Razorpay payment button click
    document.getElementById('razorpayButton').addEventListener('click', function (e) {
      placeOrder();
    });
  </script>
  
  <script>
    // JavaScript for copy functionality
    document.querySelectorAll('.copy-btn').forEach(button => {
        button.addEventListener('click', function() {
            const couponCode = this.getAttribute('data-coupon');
            navigator.clipboard.writeText(couponCode).then(() => {
                // Change button text temporarily
                const originalText = this.textContent;
                this.textContent = 'Copied!';
                setTimeout(() => {
                    this.textContent = originalText;
                }, 2000);
                
                // Automatically fill the coupon input
                document.getElementById('applyCoupon').value = couponCode;
            });
        });
    });
</script>
  
  

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
