<%- include('../layout/header.ejs') -%>
<div class="wrapper">
  <div class="" style="margin-left: 5rem; margin-bottom: 2rem">
    <img src="assets2\img\apple-icon.png" alt="" />
  </div>

  <%if(messages.blocked) {%>

  <div class="alert alert-danger" role="alert"><%= messages.blocked %></div>

  <%}%> <%if(messages.pass) {%>

  <div class="alert alert-danger" role="alert"><%= messages.pass %></div>

  <%}%> <%if(messages.found) {%>

  <div class="alert alert-danger" role="alert"><%= messages.found %></div>

  <%}%>

  <!-- <h2>Log in</h2> -->

  <form action="/change-password" method="post">
    <div class="input-box">
      <input type="password" name="password" placeholder="Enter your New Password" required />
      <input type="hidden" name="user_id" value="<%=user_id %>"/>
    </div>

    <div class="btn-group pt-2" role="group" aria-label="Basic example">
      <button
        type="submit"
        class="btn btn-outline-dark"
        style="padding: 0.7rem 4rem"
      >
        Save
      </button>
    </div>

    <div class="input-box" style="position: relative">
      <img
        src="/img/google.png"
        alt="google logo"
        style="
          position: absolute;
          width: 30px;
          height: 30px;
          top: 0.5rem;
          left: 9px;
        "
      />
      <a
        href="/auth/google"
        class="btn btn-outline-dark"
        style="padding-top: 0.7rem; padding-bottom: 0.7rem; width: 22.5rem"
        >Log in with google</a
      >
    </div>

    <div class="text pt-1">
      <h3>
        Don't have an account?
        <a href="/signup" style="color: rgb(48, 94, 150)">Sign up</a>
      </h3>
    </div>
  </form>
</div>

<%- include('../layout/footer.ejs') -%>
