<%- include('../layout/header.ejs') -%>
<div class="container">
  <div class="row justify-content-center mt-4 mb-2">
    <div class="col-auto">
      <img src="assets2/img/apple-icon.png" alt="Logo" class="img-fluid" />
    </div>
  </div>

  <% if (messages.blocked) { %>
    <div class="alert alert-danger" role="alert"><%= messages.blocked %></div>
  <% } %> 
  <% if (messages.pass) { %>
    <div class="alert alert-success" role="alert"><%= messages.pass %></div>
  <% } %> 
  <% if (messages.found) { %>
    <div class="alert alert-danger" role="alert"><%= messages.found %></div>
  <% } %> 
  <% if (message) { %>
    <div class="alert alert-danger" role="alert"><%= message %></div>
  <% } %>

  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4">
      <form action="/login" method="post">
        <div class="mb-3">
          <input type="text" name="email" class="form-control" placeholder="Enter your email" required />
        </div>
        <div class="mb-3">
          <input type="password" name="password" class="form-control" placeholder="Enter password" required />
        </div>

        <div class="text-center mb-3">
          <a href="/forget-password" style="color: rgb(48, 94, 150);">Forgotten password?</a>
        </div>

        <div class="d-grid gap-2">
          <button type="submit" class="btn btn-outline-dark">Log in</button>
          <a href="/otpLogin" class="btn btn-outline-dark">OTP Login</a>
        </div>

        <div class="text-center mt-3 mb-3 position-relative">
          <img src="/img/google.png" alt="Google logo" style="position: absolute; width: 20px; height: 20px; top: 0.5rem; left: 6rem;" />
          <a href="/auth/google" class="btn btn-outline-dark" style="padding-left: 50px;">Log in with Google</a>
        </div>

        <div class="text-center">
          <p>Don't have an account? <a href="/signup" style="color: rgb(48, 94, 150);">Sign up</a></p>
        </div>
      </form>
    </div>
  </div>
</div>
<%- include('../layout/footer.ejs') -%>
