<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products</h1>
    <ul>
        <% products.forEach(product => { %>
            <li>
                <a href="/product/<%= product._id %>">
                    <img src="/images/products/<%= product.images[0] %>" alt="<%= product.name %>">
                    <%= product.name %>
                    <%= product.price %>
                </a>
            </li>
        <% }) %>
    </ul>
</body>
</html>
